* {
  box-sizing: border-box;
}
body,
.chat-app {
  font-family: Arial;
  margin: 0;
  padding: 0;
  font-size: 16px;
  overflow: hidden;
  scroll-behavior: smooth;
}
a {
  cursor: pointer;
  color: #0000ee;
}
.fixed-top-left {
  position: -webkit-fixed;
  /* Safari */
  position: fixed;
  top: 0;
  left: 0;
}
.fixed-top-right {
  position: -webkit-fixed;
  /* Safari */
  position: fixed;
  top: 0;
  right: 0;
}
.fixed-top {
  position: -webkit-fixed;
  /* Safari */
  position: fixed;
  top: 0;
}
.fixed-bottom {
  position: -webkit-fixed;
  /* Safari */
  position: fixed;
  bottom: 0;
}
.icon-line {
  font-weight: bold;
  font-size: 15px;
}
.emotion {
  margin: 5px;
  text-align: top;
}
.emotion:hover {
  color: orange;
  cursor: pointer;
}
.link:hover {
  color: blue;
  cursor: pointer;
}
img:hover {
  cursor: pointer;
  opacity: 0.7;
  font-weight: bolder;
}
.symbol-link:hover {
  cursor: pointer;
  color: orange;
}
.add-button-chat:hover {
  cursor: pointer;
  font-weight: bolder;
}
.avatar {
  width: 100px;
  height: auto;
}
.icon:hover {
  cursor: pointer;
}
.chat-app .sidebar {
  width: 25%;
  height: 100%;
  float: left;
  background-color: #EEEEEE;
}
.chat-app .sidebar .sidebar-header {
  z-index: 1;
  width: 25%;
  height: 220px;
  padding: 10px;
  background-color: #EEEEEE;
  box-shadow: -2px 0px 2px gray;
  position: -webkit-fixed;
  /* Safari */
  position: fixed;
  top: 0;
  left: 0;
}
.chat-app .sidebar .sidebar-header .box-search-channel {
  width: 95%;
  margin: auto;
  padding: 10px;
}
.chat-app .sidebar .sidebar-header .menu-search-item .title-item {
  font-size: 10px;
  opacity: 0.7;
}
.chat-app .sidebar .sidebar-content {
  overflow: auto;
  height: 95vh;
  /* percent relative to viewport height */
  width: 100%;
  margin-top: 220px;
  padding: 10px;
}
.chat-app .sidebar .sidebar-content .list-channel {
  overflow: auto;
  margin-right: -50px;
  /* maximum width of scrollbar */
  padding-right: 50px;
  /* maximum width of scrollbar */
}
.chat-app .sidebar .sidebar-content .list-channel .info-channel {
  padding: 5px;
}
.chat-app .sidebar .sidebar-content .list-channel .info-channel .title-channel {
  font-weight: bold;
}
.chat-app .sidebar .sidebar-content .list-channel .info-channel:hover {
  background-color: whitesmoke;
  cursor: pointer;
}
.chat-app .sidebar .sidebar-content .list-channel:hover {
  margin-right: 0px;
  /* maximum width of scrollbar */
  padding-right: 0px;
  /* maximum width of scrollbar */
}
.chat-app .main-content {
  width: 75%;
  float: right;
}
.chat-app .main-content .header-channel {
  width: 75%;
  height: 100px;
  position: -webkit-fixed;
  /* Safari */
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 2;
  border-bottom: 1px solid gray;
  box-shadow: 0px 0px 2px gray;
}
.chat-app .main-content .header-channel .feature-support .feature-item {
  opacity: 0.7;
  padding: 10px;
  border-radius: 50%;
  margin: 10px;
  background-color: #EEEEEE;
}
.chat-app .main-content .content-message-container {
  overflow: auto;
  height: 70vh;
  /* percent relative to viewport height */
  z-index: 1;
  margin-top: 100px;
  margin-right: -50px;
  /* maximum width of scrollbar */
}
.chat-app .main-content .content-message-container .info-detail-message .message .info-message .content-message {
  padding: 5px;
}
.chat-app .main-content .content-message-container .info-detail-message .message .info-message .content-message .text {
  border-radius: 5px;
  padding: 7px;
}
.chat-app .main-content .content-message-container .info-detail-message .message .info-message .content-message .emotion {
  font-size: 12px;
  opacity: 0.7;
  vertical-align: top;
}
.chat-app .main-content .content-message-container:hover {
  margin-right: 0px;
  /* maximum width of scrollbar */
}
.chat-app .main-content .send-message-box {
  width: 75%;
  float: right;
  background-color: white;
  z-index: 2;
  padding: 20px;
  position: -webkit-fixed;
  /* Safari */
  position: fixed;
  bottom: 0;
}
